/**
* Accordeon
*/

.accordeon {
  display: flex;
  flex-direction: column;
}

details {
  background-color: rgb(185, 185, 185);
  margin: 10px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  transition: height 0.5s;
  position: relative;
}

details::before {
  content: "";
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left: 20px solid red;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.3s;
}

details[open]::before {
  transform: rotate(90deg);
}
